/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
}
.clock-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);  
    text-align: center;.
    text-shadow: 2px 2px 1px #333;
    text-shadow: 2px 2px 1px #333;
    color: #fff;
}
.clock {
    font-size: 150px
}
.user {
    font-family: 'Galada', cursive;
    font-size: 28px;
}
small {
    font-size: 25%;
}

